@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ajusta según tu estructura
    ViewBag.Title = "Inicio";
}

<h2>Bienvenido a la Librería</h2>
<p>
    @Html.ActionLink("Iniciar Venta", "InicioVenta", "libro")
</p>
