@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Confirmación de Venta";
}
<div class="container">
    <h2>Confirmación de Venta</h2>
    <p class="text-msg">@ViewBag.Mensaje</p>
</div>
